@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/epilogue-regular.woff2) format("woff2");
}

@font-face {
  font-family: "Recife";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/recife-regular.woff2) format("woff2");
}

.prose {
  max-width: 100%;
}

img + em {
  display: block;
  text-align: center;
  margin: 20px;
  color: #666;
}

.entry img {
  box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0px auto;
}
